@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
html {
    height: 100%;
}
#home {
  clip-path: url(#cache);
}

#red {
  fill: none;
  opacity: 0.15;
  stroke: #CE1B5F;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

#blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 6;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;    
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
 }
    }

@keyframes show {
  0% {
    opacity: 0.15;
 }
  50% {
    opacity: 0.2;
 }
  100% {
    opacity: 0.15;
 }
    }
body {
    
    color: #000;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Luxurious Roman', cursive, 'Helvetica';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-family:'Luxurious Roman', cursive, 'Helvetica';
}
a {
    text-decoration: none;
    color: #BDC3C7 ;
    font-family:'Luxurious Roman', cursive, 'Helvetica';
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Luxurious Roman', cursive, 'Helvetica';
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #000;
    font-family:'Helvetica';
}    
h3 {
    font-size: 2em;
    font-family:'Luxurious Roman', cursive, 'Helvetica';
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
footer {
    border-top: 1px solid #BDC3C7;
    font-size: .8em;
    font-family:'Luxurious Roman', cursive, 'Helvetica';
}
ul.posts li {
    list-style: none;
    font-family:'Luxurious Roman', cursive, 'Helvetica';
}
